.blue{
	background: cornFlowerBlue;
	border: 8px dashed silver;
	width: 70%;
}

.bronze{
	background: brown;
	border: 10px dotted black;
}


.gold{
	background: gold;
	width: 70%;
	border: 10px groove orange;
	float: left;

}
.extra {
	border:8px solid lime;
	background: green;
	overflow: hidden;
}
